
body {
  background-color: #faf9eb;
  min-height: 100vh;
  margin:0;
  padding:0;

}

@font-face {
    font-family: 'NotoSansMono';
    src: url('/fonts/NotoSansMono.ttf') format('truetype');
}

header {
    background-color: #9d9d9d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 2rem;
    padding: 20px 40px;
    color: black
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 5px 0;
    min-height: 40vh;
}

.answer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.option span {
    display: inline-block;
    width: 20ox; 
}

.answer label {
    display:flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;

}

footer {
    background-color: gray;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    margin: 10px;
    font-size: 14px;
    font-family: 'NotoSansMono'
}