
body {
  background-color: #faf9eb;
  min-height: 100vh;
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
}

@font-face {
    font-family: 'NotoSansMono';
    src: url('/fonts/NotoSansMono.ttf') format('truetype');
}

header {
    background-color: #063970;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 2rem;
    padding: 20px 40px;
    color: "#faf9eb";
    font-family: 'NotoSansMono';
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    min-height: 40vh;
    font-family: 'NotoSansMono';
    font-size: 15px;
    flex-direction: column;
    flex: 1;
}

.answer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.option span {
    display: inline-block;
    width: 20ox; 
}

.answer label {
    display:flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    font-family: 'NotoSansMono';

}

footer {
    background-color: #063970;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    margin-top: auto;
}

button {
    margin: 10px;
    font-size: 14px;
    font-family: 'NotoSansMono'
}


.question-counter {
    font-size: 18px !important; 
    font-weight: bold;
    color: #063970;
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
    font-family: 'NotoSansMono';

}

.question-text {
    font-size:20px;
    font-family: 'NotoSansMono';
    line-height: 1.6;
    text-align: center;
    margin-bottom: 100px;
}